{% extends "base.html.twig" %}

{% block navbar %}
    {% include 'app/not_login_menu.html.twig' %}
{% endblock %}

{% block content %}
    <main role="main" class="container">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        <div class="form-group row">
            {{ form_label(form.email, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.username, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
            <div class="col-sm-10">
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {% for password in form.plainPassword %}
            <div class="form-group row">
                {{ form_label(password, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}
                <div class="col-sm-10">
                    {{ form_widget(password, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        {% endfor %}
            <div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>

        {{ form_end(form) }}
    </main>

{% endblock content %}
